@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url('images/elise-wilcox-unsplash.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.heading-content{
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
}
.heading-content{
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.heading-content h1{
    font-size: 4em;
    font-weight: bolder;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #e5a88b;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
}

.about-me h2{
    color: #465244;
    font-family: 'Roboto', sans-serif;
}

.me-photo img{
    display: flex;
    margin: auto;
}
.about-me p{
    color: ;
    font-family: 'Roboto', sans-serif;

}

.wrapper{
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
}

.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder{
    color: #c5ecfd;
}

:-ms-input-placeholder{
    color: #c5ecfd;
}

.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media  screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg{
        width: 100%;
    }
}